#customBtn {
    width: 100%;
    border: 2px solid #C0C0C0;
    border-radius: 8px;
}

input:focus {
    border: 2px solid #47C269 !important;
    outline: none !important;
}

::placeholder {
    color: #C0C0C0;
}

@media only screen and (max-width: 400px) {}